## Solve the Assignment Data is Given in the code you can run the code and get relvent data

In [3]:
import pandas as pd

# Sample customer data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'age': [25, 30, 22, 40, 18],
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'Los Angeles']
}

df = pd.DataFrame(data)



import numpy as np

# Sample data with missing values
data2 = {
    'product': ['A', 'B', 'C', 'A', 'B', None],
    'price': [10, 15, None, 20, 25, 30],
    'category': ['Electronics', 'Electronics', 'Clothing', 'Electronics', 'Clothing', 'Home']
}

df2 = pd.DataFrame(data2)

1. Write a Python program that uses the interpreter interactively to calculate the area of rectengle and area of square.

2. Create Python variables to store your name, age, and favorite food. Print a sentence combining these variables using string formatting

3. Write a Python program that takes two numbers as input from the user and performs all basic arithmetic operations (addition, subtraction, multiplication, division) on them.

4. Write a Python program that checks if a given number is even or odd using an if statement.

5. Write a Python program that prints the first 10 natural numbers using a while loop.

6. Create a Python list containing the names of your favorite movies. Write code to access and print the second element in the list.

7. Write a Python function that takes a string as input and returns the number of uppercase and lowercase letters in the string.

8. Create a DataFrame from a given dictionary containing customer information (name, age, city). Display the first 5 rows and basic information about the DataFrame (shape, data types).

9. Import a sample dataset (e.g., CSV file) using Pandas. Select specific columns (e.g., 'name' and 'age') and display them.

10. Add a new column to the DataFrame calculated as the square of another column. Rename existing columns if necessary.

11. Select rows where a specific condition is met (e.g., age greater than 18). Filter the DataFrame based on multiple criteria (e.g., age between 25 and 30, city containing 'New York').

12. Handle missing values in your DataFrame. Impute missing values with a specific value (e.g., mean, median) or drop rows/columns containing missing data.

13. Remove duplicate rows from the DataFrame. Optionally, keep only the first or last occurrence of duplicates.

14. Clean text data in a column by removing leading/trailing whitespaces, converting to uppercase/lowercase.

15. Group data by a specific column and calculate descriptive statistics (mean, standard deviation, count) for each group.

16. Sort the DataFrame by one or more columns (ascending/descending order).

17. Calculate summary statistics for numerical columns (mean, median, standard deviation, quartiles) using describe() or specific methods.

18. Create new columns derived from existing data (e.g., calculate age groups based on age ranges).

19. Perform aggregations on grouped data (e.g., calculate total sales per product category). Apply aggregation functions with groupby() and agg().

20. Merge two DataFrames based on a common column using appropriate technique

21. Uses a for loop to iterate through a range of numbers (1 to 10).
Inside the loop, print the current number multiplied by 2.

22. Guessing Game:

Create a Python program for a simple guessing game:

Generate a random number between 1 and 100 (use the random module).
Allow the user to guess the number within 5 attempts.
Use a while loop to keep track of the number of attempts.
Inside the loop, get the user's guess as an integer using int(input()).
Use if statements to check if the guess is correct, too high, or too low.
Provide feedback to the user after each guess, indicating if they need to go higher or lower.
If the user guesses correctly within the allowed attempts, print a congratulatory message.
If the user fails to guess correctly within 5 attempts, print a message indicating they ran out of chances.

23. Finding Even Numbers:

Write a Python program that:

Takes a list of integers as input from the user.
Use a for loop to iterate through the list.
Inside the loop, use an if statement to check if the current number is even (use the modulo operator %).
If the number is even, print it to the console.

24. Password Checker:

Create a Python program for a password checker:

Define a variable containing the correct password (e.g., "secret123").
Prompt the user to enter their password.
Use an if statement to check if the entered password matches the correct one.
If the passwords match, print a message indicating successful login.
If the passwords don't match, use an else statement to print a message indicating incorrect login and allow the user to try again (maximum 3 attempts).

25. Discount Calculator:

Write a Python program that calculates a discount on a product based on its price and discount rate:

Prompt the user to enter the product price as a float.
Prompt the user to enter the discount rate as a percentage (e.g., 10 would mean 10%).
Use an if statement to check if the discount rate is within a valid range (0% to 100%).
If the discount rate is valid, calculate the discounted price using the formula discounted_price = price * (1 - discount_rate/100).
Print the original price and the discounted price.
If the entered discount rate is invalid, use an else statement to print an error message.