# **Python Practice**

## Create all the Data Type of Python in different    `variable`.
* Str
* Int
* FLoat
* List
* Tuple
* Dict
* Set

In [9]:
name="aamin"
print(name)

i=34
print(i)

f=56.4
print(f)

print(['aamin','poornima','sabreena','ankita'])

print({"monika","sanjeevitha","pushmita","alka",24.3,45,45,89})

print("anshika","aarzoo","digvijay","samrath",45.4,67.6,67.7,56.8)

print({"anjali","ananya","aradhya","arya",67,45,45,56,10})

aamin
34
56.4
['aamin', 'poornima', 'sabreena', 'ankita']
{'pushmita', 'monika', 24.3, 89, 'alka', 45, 'sanjeevitha'}
anshika aarzoo digvijay samrath 45.4 67.6 67.7 56.8
{67, 'anjali', 10, 45, 'aradhya', 'ananya', 'arya', 56}

## Create a list of your 5 friends and name its variable `friend`.

In [10]:
friend=["Aamin","Sabreena","Poornima","Ankita","Alka"]

['Aamin', 'Sabreena', 'Poornima', 'Ankita', 'Alka']

## Make them a `Set` and name it `set_friend`.

In [13]:
set_friend={"Aamin","Sabreena","Poornima","Ankita","Alka"}
print(set_friend)

## Create a dict of students with name `a, b, c, d, e, f` and the number is `20, 12, 14, 15, 18`.

In [14]:
name=({'a','b','c','d','e',20,12,14,18,15})
print(name)

{'e', 'c', 'd', 12, 14, 15, 18, 20, 'b', 'a'}

## What are the rules of `variable`.

In [ ]:
ther should be no space between the variables.
variables should not start with any sign or number
variables name are case sensitive
variable should start

## Print the table of `5`.

In [4]:
for i in range(1,11):
    print("5*",i,"=",5*i)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

## Print your name `25 times`.

In [7]:
i=0
while i<=24:
    print('Aamin')
    i=i+1

Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin
Aamin

## Create a list of `Months` and run a while loop print all the names of present in the list until `March` after printing the march break the code.

In [ ]:
months=["Jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
df=pd.DataFrame(months)