# **Python Practice**

## Create all the Data Type of Python in different    `variable`.
* Str
* Int
* FLoat
* List
* Tuple
* Dict
* Set

## Create a list of your 5 friends and name its variable `friend`.

## Make them a `Set` and name it `set_friend`.

## Create a dict of students with name `a, b, c, d, e, f` and the number is `20, 12, 14, 15, 18`.

## What are the rules of `variable`.

## Print the table of `5`.

## Print your name `25 times`.

## Create a list of `Months` and run a while loop print all the names of present in the list until `March` after printing the march break the code.